.circle1, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7, .circle8, .circle9 {
  position: fixed;
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
  background-color: #ffd300;
  z-index: -10; }

.Scircle1, .Scircle2, .Scircle3, .Scircle4, .Scircle5, .Scircle6, .Scircle7, .Scircle8, .Scircle9 {
  position: fixed;
  border-radius: 50%;
  height: 35vw;
  width: 35vw;
  background-color: #ffd300;
  z-index: 1; }

.transwrite {
  position: fixed;
  display: flex;
  font-family: 'Indie Flower', cursive;
  background-color: transparent;
  font-size: 17vw;
  opacity: 1;
  z-index: 10; }

.subcontentmenu {
  position: relative;
  font-family: 'Playfair Display', serif;
  font-size: 3.1vw;
  font-weight: bold;
  margin-top: 1.5vw;
  display: inline-block; }

#insta, #insta1, #insta2 {
  font-size: 2.5vw;
  padding: 0.5vw;
  padding-right: 1.5vw;
  cursor: url("ImpressionSelect_link.cur"), default !important; }

#insta3, #insta4 {
  padding: 0.5vw;
  padding-right: 1.5vw; }

* {
  cursor: url("Right reverse transparent black outline.cur"), auto; }

body {
  background-image: url("Background.jpg");
  font-size: 100%; }

a {
  color: inherit;
  text-decoration: none;
  cursor: url("ImpressionSelect_link.cur"), default !important; }

.slider {
  position: fixed;
  font-family: 'Playfair Display', serif;
  display: flex;
  z-index: 20;
  font-size: 13.5vw;
  margin-top: 8vw;
  margin-left: 8vw; }
  .slider div:nth-child(1) {
    animation: slide 300ms 2660ms forwards; }
  .slider div:nth-child(2) {
    animation: slide 300ms 2720ms forwards; }
  .slider div:nth-child(3) {
    animation: slide 300ms 2780ms forwards; }
  .slider div:nth-child(4) {
    animation: slide 300ms 2840ms forwards; }
  .slider div:nth-child(5) {
    animation: slide 300ms 2900ms forwards; }
  .slider div:nth-child(6) {
    animation: slide 300ms 2960ms forwards; }
  .slider div:nth-child(7) {
    animation: slide 300ms 3020ms forwards; }
  .slider div:nth-child(8) {
    animation: slide 300ms 3080ms forwards; }
  .slider div:nth-child(9) {
    animation: slide 300ms 3140ms forwards; }

.slider div {
  opacity: 0; }

.slider2 {
  position: fixed;
  font-family: 'Playfair Display', serif;
  display: flex;
  z-index: 20;
  font-size: 13.5vw;
  margin-top: 22vw;
  margin-left: 15vw; }
  .slider2 div:nth-child(1) {
    animation: slide 300ms 3160ms forwards; }
  .slider2 div:nth-child(2) {
    animation: slide 300ms 3220ms forwards; }
  .slider2 div:nth-child(3) {
    animation: slide 300ms 3280ms forwards; }
  .slider2 div:nth-child(4) {
    animation: slide 300ms 3340ms forwards; }
  .slider2 div:nth-child(5) {
    animation: slide 300ms 3400ms forwards; }
  .slider2 div:nth-child(6) {
    animation: slide 300ms 3460ms forwards; }
  .slider2 div:nth-child(7) {
    animation: slide 300ms 3520ms forwards; }
  .slider2 div:nth-child(8) {
    animation: slide 300ms 3580ms forwards; }
  .slider2 div:nth-child(9) {
    animation: slide 300ms 3640ms forwards; }
  .slider2 div:nth-child(10) {
    animation: slide 300ms 3700ms forwards; }
  .slider2 div:nth-child(11) {
    animation: slide 300ms 3760ms forwards; }
  .slider2 div:nth-child(12) {
    animation: slide 300ms 3820ms forwards; }

.slider2 div {
  opacity: 0; }

@keyframes slide {
  from {
    opacity: 0;
    transform: translate(-3vw, 6vw); }
  to {
    opacity: 0.6;
    transform: translate(1vw, 1vw); } }
.slider-down div:nth-child(8) {
  animation: slidedown 300ms 0ms forwards; }
.slider-down div:nth-child(7) {
  animation: slidedown 300ms 60ms forwards; }
.slider-down div:nth-child(6) {
  animation: slidedown 300ms 120ms forwards; }
.slider-down div:nth-child(5) {
  animation: slidedown 300ms 180ms forwards; }
.slider-down div:nth-child(4) {
  animation: slidedown 300ms 240ms forwards; }
.slider-down div:nth-child(3) {
  animation: slidedown 300ms 300ms forwards; }
.slider-down div:nth-child(2) {
  animation: slidedown 300ms 360ms forwards; }
.slider-down div:nth-child(1) {
  animation: slidedown 300ms 420ms forwards; }
.slider-down div:nth-child(0) {
  animation: slidedown 300ms 480ms forwards; }

.slider-down div {
  opacity: 0.6;
  transform: translate(1vw, 1vw); }

.slider-down2 div:nth-child(11) {
  animation: slidedown 300ms 60ms forwards; }
.slider-down2 div:nth-child(10) {
  animation: slidedown 300ms 120ms forwards; }
.slider-down2 div:nth-child(9) {
  animation: slidedown 300ms 180ms forwards; }
.slider-down2 div:nth-child(8) {
  animation: slidedown 300ms 240ms forwards; }
.slider-down2 div:nth-child(7) {
  animation: slidedown 300ms 300ms forwards; }
.slider-down2 div:nth-child(6) {
  animation: slidedown 300ms 360ms forwards; }
.slider-down2 div:nth-child(5) {
  animation: slidedown 300ms 420ms forwards; }
.slider-down2 div:nth-child(4) {
  animation: slidedown 300ms 480ms forwards; }
.slider-down2 div:nth-child(3) {
  animation: slidedown 300ms 540ms forwards; }
.slider-down2 div:nth-child(2) {
  animation: slidedown 300ms 600ms forwards; }
.slider-down2 div:nth-child(1) {
  animation: slidedown 300ms 660ms forwards; }
.slider-down2 div:nth-child(0) {
  animation: slidedown 300ms 720ms forwards; }

.slider-down2 div {
  opacity: 0.6;
  transform: translate(1vw, 1vw); }

@keyframes slidedown {
  from {
    opacity: 0.6;
    transform: translate(1vw, 1vw); }
  to {
    opacity: 0;
    transform: translate(-3vw, 6vw); } }
.transwrite {
  fill: none;
  stroke-width: 1;
  stroke: #444444;
  margin-top: 11vw; }
  .transwrite tspan > tspan {
    stroke-dasharray: 1500;
    stroke-dashoffset: -1500; }
    .transwrite tspan > tspan:nth-of-type(1) {
      animation: draw 300ms 3850ms forwards; }
    .transwrite tspan > tspan:nth-of-type(2) {
      animation: draw 300ms 4000ms forwards; }
    .transwrite tspan > tspan:nth-of-type(3) {
      animation: draw 300ms 4150ms forwards; }
    .transwrite tspan > tspan:nth-of-type(4) {
      animation: draw 300ms 4300ms forwards; }

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
    fill: #444444; } }
.transwrite-down {
  stroke: #444444;
  fill: #444444; }
  .transwrite-down tspan > tspan {
    stroke-dasharray: 1500;
    stroke-dashoffset: 0; }
    .transwrite-down tspan > tspan:nth-of-type(4) {
      animation: drawdown 300ms 150ms forwards; }
    .transwrite-down tspan > tspan:nth-of-type(3) {
      animation: drawdown 300ms 300ms forwards; }
    .transwrite-down tspan > tspan:nth-of-type(2) {
      animation: drawdown 300ms 450ms forwards; }
    .transwrite-down tspan > tspan:nth-of-type(1) {
      animation: drawdown 300ms 600ms forwards; }

@keyframes drawdown {
  100% {
    stroke-dashoffset: -1500;
    fill: none; } }
.circle1 {
  left: 42vw;
  top: 19vw; }

.circle2 {
  left: 42vw;
  top: 15vw; }

.circle3 {
  left: 46.1vw;
  top: 19vw; }

.circle4 {
  left: 42vw;
  top: 23vw; }

.circle5 {
  left: 38.1vw;
  top: 19vw; }

.circle6 {
  left: 44.5vw;
  top: 15.8vw; }

.circle7 {
  left: 44.5vw;
  top: 22.2vw; }

.circle8 {
  left: 39.6vw;
  top: 22.1vw; }

.circle9 {
  left: 39.6vw;
  top: 15.9vw; }

.circleanimation {
  animation: expand 3500ms infinite; }

@keyframes expand {
  0% {
    height: 35vw;
    width: 35vw; }
  50% {
    height: 37vw;
    width: 37vw; }
  100% {
    height: 35vw;
    width: 35vw; } }
.bersi {
  position: fixed;
  z-index: -5;
  height: 10vw;
  width: 10vw;
  margin-top: 18.5vw;
  margin-left: 41.5vw; }

.crystalclear {
  position: fixed;
  z-index: 50;
  font-family: 'Playfair Display', serif;
  margin: 1vw 2vw 2vw 2vw;
  font-size: 1.15vw;
  letter-spacing: 0.05vw;
  opacity: 0;
  display: flex;
  animation: appear 100ms 7680ms forwards; }

.crystalclear1 {
  position: fixed;
  z-index: 35;
  font-family: 'Playfair Display', serif;
  margin: 1vw 2vw 2vw 2vw;
  font-size: 1.15vw;
  letter-spacing: 0.05vw;
  opacity: 1;
  display: flex; }

.space {
  margin-right: 60vw; }

.homebutton {
  position: fixed;
  z-index: 35;
  font-family: 'Playfair Display', serif;
  margin: 2vw 2vw 2vw 45vw;
  font-size: 1.15vw;
  letter-spacing: 0.05vw;
  opacity: 0;
  display: flex;
  cursor: url("ImpressionSelect_link.cur"), default !important;
  animation: appear 100ms 1600ms forwards; }

.homebutton div {
  cursor: url("ImpressionSelect_link.cur"), default !important; }

.homebutton span {
  cursor: url("ImpressionSelect_link.cur"), default !important; }

.homecross {
  position: fixed;
  z-index: 35;
  font-family: 'Playfair Display', serif;
  margin: 1vw 2vw 2vw 48vw;
  font-size: 1.15vw;
  letter-spacing: 0.05vw;
  opacity: 0;
  display: flex;
  cursor: url("ImpressionSelect_link.cur"), default !important;
  animation: appear 100ms 1600ms forwards; }

.homecross div {
  cursor: url("ImpressionSelect_link.cur"), default !important; }

.nextarrow {
  position: fixed;
  z-index: 35;
  font-family: 'Playfair Display', serif;
  top: 36vw;
  left: 93vw;
  font-size: 1.15vw;
  letter-spacing: 0.05vw;
  opacity: 0;
  display: flex;
  cursor: url("ImpressionSelect_link.cur"), default !important;
  animation: appear 100ms 1600ms forwards; }

.nextarrow div {
  cursor: url("ImpressionSelect_link.cur"), default !important; }

.backarrow {
  position: fixed;
  z-index: 35;
  font-family: 'Playfair Display', serif;
  top: 40.5vw;
  left: 93vw;
  font-size: 1.15vw;
  letter-spacing: 0.05vw;
  opacity: 0;
  display: flex;
  cursor: url("ImpressionSelect_link.cur"), default !important;
  animation: appear 100ms 1600ms forwards; }

.backarrow div {
  cursor: url("ImpressionSelect_link.cur"), default !important; }

.lowerbar {
  position: fixed;
  z-index: 50;
  display: flex;
  bottom: 1vw;
  opacity: 0;
  animation: appear 100ms 7680ms forwards; }

.lowerbar1 {
  position: fixed;
  z-index: 20;
  display: flex;
  bottom: 1vw;
  opacity: 1; }

.lowercrystal {
  display: flex;
  font-size: 3vw;
  left: 2vw; }

.news {
  left: 7vw;
  overflow: hidden;
  height: 3.5vw;
  white-space: nowrap; }

.newspara {
  position: fixed;
  padding: 1vw 0.5vw 0.5vw 0.5vw;
  animation: paraslide 30s linear infinite forwards; }

.newspara2 {
  position: fixed;
  padding: 1vw 0.5vw 0.5vw 0.5vw;
  transform: translateX(120vw);
  animation: paraslide 30s linear 15s infinite forwards; }

@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes paraslide {
  0% {
    transform: translateX(100vw); }
  100% {
    transform: translateX(-90vw); } }
.contentmenu {
  position: fixed;
  margin: 5vw 13vw;
  z-index: 60; }

.subcontentmenu {
  cursor: url("ImpressionSelect_link.cur"), default !important; }

.subcontentmenu div {
  cursor: url("ImpressionSelect_link.cur"), default !important; }

.indexletter {
  cursor: url("ImpressionSelect_link.cur"), default !important; }

.indexletter div {
  cursor: url("ImpressionSelect_link.cur"), default !important; }

.indexletter {
  position: relative;
  display: inline-flex; }

.indexletter div {
  margin-right: 0.1vw;
  opacity: 0;
  transform: translate(1vw, 1vw); }

.indexanimation1 div:nth-child(1) {
  animation: indexslide 100ms 20ms forwards; }
.indexanimation1 div:nth-child(2) {
  animation: indexslide 100ms 40ms forwards; }
.indexanimation1 div:nth-child(3) {
  animation: indexslide 100ms 60ms forwards; }
.indexanimation1 div:nth-child(4) {
  animation: indexslide 100ms 80ms forwards; }
.indexanimation1 div:nth-child(5) {
  animation: indexslide 100ms 100ms forwards; }
.indexanimation1 div:nth-child(6) {
  animation: indexslide 100ms 120ms forwards; }
.indexanimation1 div:nth-child(7) {
  animation: indexslide 100ms 140ms forwards; }
.indexanimation1 div:nth-child(8) {
  animation: indexslide 100ms 160ms forwards; }
.indexanimation1 div:nth-child(9) {
  animation: indexslide 100ms 180ms forwards; }
.indexanimation1 div:nth-child(10) {
  animation: indexslide 100ms 200ms forwards; }
.indexanimation1 div:nth-child(11) {
  animation: indexslide 100ms 220ms forwards; }
.indexanimation1 div:nth-child(12) {
  animation: indexslide 100ms 240ms forwards; }
.indexanimation1 div:nth-child(13) {
  animation: indexslide 100ms 260ms forwards; }
.indexanimation1 div:nth-child(14) {
  animation: indexslide 100ms 280ms forwards; }
.indexanimation1 div:nth-child(15) {
  animation: indexslide 100ms 300ms forwards; }
.indexanimation1 div:nth-child(16) {
  animation: indexslide 100ms 320ms forwards; }
.indexanimation1 div:nth-child(17) {
  animation: indexslide 100ms 340ms forwards; }
.indexanimation1 div:nth-child(18) {
  animation: indexslide 100ms 360ms forwards; }
.indexanimation1 div:nth-child(19) {
  animation: indexslide 100ms 380ms forwards; }
.indexanimation1 div:nth-child(20) {
  animation: indexslide 100ms 400ms forwards; }
.indexanimation1 div:nth-child(21) {
  animation: indexslide 100ms 420ms forwards; }
.indexanimation1 div:nth-child(22) {
  animation: indexslide 100ms 440ms forwards; }
.indexanimation1 div:nth-child(23) {
  animation: indexslide 100ms 460ms forwards; }
.indexanimation1 div:nth-child(24) {
  animation: indexslide 100ms 480ms forwards; }
.indexanimation1 div:nth-child(25) {
  animation: indexslide 100ms 500ms forwards; }
.indexanimation1 div:nth-child(26) {
  animation: indexslide 100ms 520ms forwards; }
.indexanimation1 div:nth-child(27) {
  animation: indexslide 100ms 540ms forwards; }
.indexanimation1 div:nth-child(28) {
  animation: indexslide 100ms 560ms forwards; }
.indexanimation1 div:nth-child(29) {
  animation: indexslide 100ms 580ms forwards; }
.indexanimation1 div:nth-child(30) {
  animation: indexslide 100ms 600ms forwards; }
.indexanimation1 div:nth-child(31) {
  animation: indexslide 100ms 620ms forwards; }
.indexanimation1 div:nth-child(32) {
  animation: indexslide 100ms 640ms forwards; }
.indexanimation1 div:nth-child(33) {
  animation: indexslide 100ms 660ms forwards; }
.indexanimation1 div:nth-child(34) {
  animation: indexslide 100ms 680ms forwards; }
.indexanimation1 div:nth-child(35) {
  animation: indexslide 100ms 700ms forwards; }
.indexanimation1 div:nth-child(36) {
  animation: indexslide 100ms 720ms forwards; }
.indexanimation1 div:nth-child(37) {
  animation: indexslide 100ms 740ms forwards; }
.indexanimation1 div:nth-child(38) {
  animation: indexslide 100ms 760ms forwards; }
.indexanimation1 div:nth-child(39) {
  animation: indexslide 100ms 780ms forwards; }
.indexanimation1 div:nth-child(40) {
  animation: indexslide 100ms 800ms forwards; }
.indexanimation1 div:nth-child(41) {
  animation: indexslide 100ms 820ms forwards; }
.indexanimation1 div:nth-child(42) {
  animation: indexslide 100ms 840ms forwards; }

.indexbreakanimation {
  animation: indexslide 100ms forwards; }

@keyframes indexslide {
  from {
    opacity: 0;
    transform: translate(-3vw, 6vw); }
  to {
    opacity: 1;
    transform: translate(1vw, 1vw); } }
.underlined {
  position: fixed;
  z-index: 55;
  opacity: 0; }

.above {
  opacity: 0;
  transform: rotate3d(1, 1, 1, -45deg);
  position: fixed;
  z-index: 52;
  margin-left: 24vw;
  margin-top: 6vw; }

#index1:hover {
  cursor: url("ImpressionSelect_link.cur"), default !important; }

#index2:hover {
  cursor: url("ImpressionSelect_link.cur"), auto !important; }

#index3:hover {
  cursor: url("ImpressionSelect_link.cur"), auto !important; }

#index4:hover {
  cursor: url("ImpressionSelect_link.cur"), auto !important; }

#index5:hover {
  cursor: url("ImpressionSelect_link.cur"), auto !important; }

#index6:hover {
  cursor: url("ImpressionSelect_link.cur"), auto !important; }

#index7:hover {
  cursor: url("ImpressionSelect_link.cur"), auto !important; }

#index8:hover {
  cursor: url("ImpressionSelect_link.cur"), auto !important; }

#index9:hover {
  cursor: url("ImpressionSelect_link.cur"), auto !important; }

#index10:hover {
  cursor: url("ImpressionSelect_link.cur"), auto !important; }

#index11:hover {
  cursor: url("ImpressionSelect_link.cur"), auto !important; }

#index12:hover {
  cursor: url("ImpressionSelect_link.cur"), auto !important; }

#index13:hover {
  cursor: url("ImpressionSelect_link.cur"), auto !important; }

.downslide div:nth-child(42) {
  animation: reverseback 100ms 0ms forwards; }
.downslide div:nth-child(41) {
  animation: reverseback 100ms 20ms forwards; }
.downslide div:nth-child(40) {
  animation: reverseback 100ms 40ms forwards; }
.downslide div:nth-child(39) {
  animation: reverseback 100ms 60ms forwards; }
.downslide div:nth-child(38) {
  animation: reverseback 100ms 80ms forwards; }
.downslide div:nth-child(37) {
  animation: reverseback 100ms 100ms forwards; }
.downslide div:nth-child(36) {
  animation: reverseback 100ms 120ms forwards; }
.downslide div:nth-child(35) {
  animation: reverseback 100ms 140ms forwards; }
.downslide div:nth-child(34) {
  animation: reverseback 100ms 160ms forwards; }
.downslide div:nth-child(33) {
  animation: reverseback 100ms 180ms forwards; }
.downslide div:nth-child(32) {
  animation: reverseback 100ms 200ms forwards; }
.downslide div:nth-child(31) {
  animation: reverseback 100ms 220ms forwards; }
.downslide div:nth-child(30) {
  animation: reverseback 100ms 240ms forwards; }
.downslide div:nth-child(29) {
  animation: reverseback 100ms 260ms forwards; }
.downslide div:nth-child(28) {
  animation: reverseback 100ms 280ms forwards; }
.downslide div:nth-child(27) {
  animation: reverseback 100ms 300ms forwards; }
.downslide div:nth-child(26) {
  animation: reverseback 100ms 320ms forwards; }
.downslide div:nth-child(25) {
  animation: reverseback 100ms 340ms forwards; }
.downslide div:nth-child(24) {
  animation: reverseback 100ms 360ms forwards; }
.downslide div:nth-child(23) {
  animation: reverseback 100ms 380ms forwards; }
.downslide div:nth-child(22) {
  animation: reverseback 100ms 400ms forwards; }
.downslide div:nth-child(21) {
  animation: reverseback 100ms 420ms forwards; }
.downslide div:nth-child(20) {
  animation: reverseback 100ms 440ms forwards; }
.downslide div:nth-child(19) {
  animation: reverseback 100ms 460ms forwards; }
.downslide div:nth-child(18) {
  animation: reverseback 100ms 480ms forwards; }
.downslide div:nth-child(17) {
  animation: reverseback 100ms 500ms forwards; }
.downslide div:nth-child(16) {
  animation: reverseback 100ms 520ms forwards; }
.downslide div:nth-child(15) {
  animation: reverseback 100ms 540ms forwards; }
.downslide div:nth-child(14) {
  animation: reverseback 100ms 560ms forwards; }
.downslide div:nth-child(13) {
  animation: reverseback 100ms 580ms forwards; }
.downslide div:nth-child(12) {
  animation: reverseback 100ms 600ms forwards; }
.downslide div:nth-child(11) {
  animation: reverseback 100ms 620ms forwards; }
.downslide div:nth-child(10) {
  animation: reverseback 100ms 640ms forwards; }
.downslide div:nth-child(9) {
  animation: reverseback 100ms 660ms forwards; }
.downslide div:nth-child(8) {
  animation: reverseback 100ms 680ms forwards; }
.downslide div:nth-child(7) {
  animation: reverseback 100ms 700ms forwards; }
.downslide div:nth-child(6) {
  animation: reverseback 100ms 720ms forwards; }
.downslide div:nth-child(5) {
  animation: reverseback 100ms 740ms forwards; }
.downslide div:nth-child(4) {
  animation: reverseback 100ms 760ms forwards; }
.downslide div:nth-child(3) {
  animation: reverseback 100ms 780ms forwards; }
.downslide div:nth-child(2) {
  animation: reverseback 100ms 800ms forwards; }
.downslide div:nth-child(1) {
  animation: reverseback 100ms 820ms forwards; }
.downslide div:nth-child(0) {
  animation: reverseback 100ms 840ms forwards; }

.downslidebreak {
  animation: reverseback 100ms forwards; }

.downslide div {
  opacity: 1;
  transform: translate(1vw, 1vw); }

@keyframes reverseback {
  from {
    opacity: 1;
    transform: translate(1vw, 1vw); }
  to {
    opacity: 0;
    transform: translate(-3vw, 6vw); } }
.Scircle1 {
  left: 30vw;
  top: 7vw; }

.Scircle2 {
  left: 30vw;
  top: 3vw; }

.Scircle3 {
  left: 34.1vw;
  top: 7vw; }

.Scircle4 {
  left: 30vw;
  top: 11vw; }

.Scircle5 {
  left: 26.1vw;
  top: 7vw; }

.Scircle6 {
  left: 32.5vw;
  top: 3.8vw; }

.Scircle7 {
  left: 32.5vw;
  top: 10.2vw; }

.Scircle8 {
  left: 27.6vw;
  top: 10.1vw; }

.Scircle9 {
  left: 27.6vw;
  top: 3.9vw; }

.abovecircle {
  opacity: 0.8;
  transform: rotate3d(1, 1, 1, -45deg);
  position: fixed;
  z-index: 10;
  margin-left: 24vw;
  margin-top: 6vw; }

#homeicon1 {
  font-size: 3.5vw;
  opacity: 0.5;
  cursor: url("ImpressionSelect_link.cur"), default !important; }

#homeicon2 {
  font-size: 3.5vw;
  opacity: 0.5;
  cursor: url("ImpressionSelect_link.cur"), default !important; }

#homeicon3 {
  font-size: 3.5vw;
  opacity: 0.5;
  cursor: url("ImpressionSelect_link.cur"), default !important; }

.fullcontent {
  position: fixed;
  z-index: 30;
  padding: 5vw 50vw 0vw 1vw; }

.fullcontent h1 {
  font-size: 4vw;
  opacity: 0; }

.fullcontent p {
  font-size: 1.3vw;
  opacity: 0; }

/*# sourceMappingURL=main.css.map */
